{
    "dify_api_url":"",
    "dify_api_key":"",
    "dify_retrieval_top_k": 10,
    "dify_retrieval_concurrency": 10
    "server_api_token":"ais-token",
    "api_tool_sm4_key": "5677c84e8a309f11084847f8dbf71924"
}